<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn42uxQcR3HC6yUEaGWnn0_RlR9QywOPk</string>
	<key>GCM_SENDER_ID</key>
	<string>443397670851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joshua.hoban.inzultz</string>
	<key>PROJECT_ID</key>
	<string>inzultz-72289</string>
	<key>STORAGE_BUCKET</key>
	<string>inzultz-72289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443397670851:ios:061fd925eee96dc4eadf76</string>
</dict>
</plist>